body {
  background-color: #f2f2f2;
}

.pageContainer {
  width: 1300px;
  margin: auto;
  margin-top: 10%;
}

p {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  z-index: 10;
  position: fixed;
  top: 0;
  /* width: 100%; */
  width: 1300px;
  height: 100px;
  margin: 0px;
  background-color: #ffffff;
}

.navbar li {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 0.5px;
  /* float: right; */
  display: inline;
  text-align: center;
  padding-right: 25px;
  padding-left: 30px;
}

.headerSection {
  display: flex;
  justify-content: center;
}

.headerLinkContainer {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 30px;
}
.headerLinkContainer ul{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 30px;
}
.headerLinkContainer ul li {
  /* background: yellow; */
  font-size: 18px;
}

.headerImage {
  /* height: auto;
  display: inline; */
  display: flex;
  align-items: center;
}

.headerImage img {
  width: 400px;
  margin-left: 30px;
}

.sectionHeader h1 {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-top: 8px;
  border-top: 2px solid #2e2e2e;
  color: #1d222c;
}

.sectionHeader {
  margin-top: 10px;
  margin-bottom: 30px;
}

.articleImage {
  transition: transform .2s;
}

.articleImage:hover {
  transform: scale(1.03);
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.topArticle img {
  background-color: #ffffff;
  border-bottom: 2px solid rgba(0,0,0,0);
  width: 100%;
}

.topArticle {
  width: 23%;
  background-color: #ffffff;
  border-bottom: 2px solid rgba(0,0,0,0);
  height: 330px;
  margin-bottom: 20px;
}

.topImage {
  overflow: hidden;
  height: 60%;
}

.topArticle:hover {
  border-bottom: 2px solid #fc4540;
}


.topArticle h1 {
  color: #1a1a1a;
  text-align: center;
  display: block;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 1px;
  margin: 0px;
}

.topArticle h2 {
  color: #fc4540;
  text-align: center;
  display: block;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.topArticle p {
  margin: 0px;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  text-align: center;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 1.6;
  font-weight: normal;
  letter-spacing: 1px;
  padding-left: 15px;
  padding-right: 15px;

}



.articleInfo {
  display: none;
  padding: 15px;
}


.articleInfo a.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 500px;
  /* background: #366b72; */
  background: #fc6867;
  text-decoration: none;
  margin-top: 30px;
}

 .articleInfo a.button p{
  color: white;
  font-weight: 600;

}
.gridArticle.expanded .articleInfo {
  display: block;
}
.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 200px);
  grid-auto-rows: 200px;
  grid-gap: 10px;
  grid-auto-flow: row dense;
}
.gridArticle.big h1:hover, .gridArticle.small .articleTitle h1:hover {
  color: #1dafec
  /* color: #a4a4a4 */
}

.gridArticle .articleImage {
  background-image: url(./images/wasp.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* .gridArticle.big {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  background-color: lightgreen;
  width: 100%;
  position: relative;
} */

.gridArticle.big {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  background-color: white;
  width: 100%;
  position: relative;
}

.gridArticle.big h1 {
  position: relative;
  width: 100px;
  left: 15px;
  background-color: black;
  text-align: center;
  display: inline;
  padding: 2px 0px;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.3;
  box-shadow: 7px 0 0 #000, -7px 0 0 #000;
  box-decoration-break: clone;
  max-width: 90%;
}

.gridArticle.big h2 {
  position: relative;
  width: 90%;
  left: 15px;
  text-align: left;
  display: block;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  color: #fc6867;
  font-size: 14px;
  line-height: 1.2;
  padding: 3px 0;
  text-transform: uppercase;
  max-width: 90%;
  display: none;
}

.gridArticle.big .articleTitle {
  position: absolute;
  bottom: 30px;
  color: white;
  display: inline;
  max-width: 90%;
}

.gridArticle.big .articleImage {
  overflow: hidden;
  object-position: center;
  height: 100%;
  width: 100%;
}

.gridArticle.small {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  overflow: hidden;
}

.gridArticle.small:nth-child(5n), .gridArticle.small:nth-child(5n-1) {
  flex-flow: row-reverse nowrap;
  /* background-color: pink; */
}

/* .small:nth-child(odd) {
  flex-flow: row nowrap;
} */

.gridArticle.small h1 {
  color: #2e2e2e;
  text-align: left;
  display: block;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  padding-left: 15px;
  padding-right: 15px;
}

.gridArticle.small h2 {
  text-align: left;
  display: block;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  /* font-style: italic; */
  color: #fc6867;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}


/* .gridArticle.small p {
  display: none;
  color: #2e2e2e;
} */

.gridArticle.small .articleTitle {
  width: 50%;
}

.big .articleImageBox {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.small .articleImageBox {
  overflow: hidden;
  width: 50%;
}

.gridArticle.small .articleImage {
  width: 100%;
  overflow: hidden;
}

.gridArticle.expanded:nth-child(1n){
  grid-column: 1 / span 6;
  grid-row: auto / span 2;
  overflow: hidden;
  display: flex;
}
.gridArticle.expanded:nth-child(1n){
  flex-direction: row;
}

.gridArticle.big.expanded {
  grid-column: 1 / span 6;
  grid-row: auto / span 2;
  overflow: hidden;
  display: flex;
}

.gridArticle.expanded .articleImageBox {
  width: 33%;
}

.gridArticle.expanded .articleTitle {
  width: 67%;
}

.gridArticle.big.expanded .articleTitle {
  position: static;
  display: inline;
}

.gridArticle.expanded h1 {
  color: #141414;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: none;
}


.gridArticle.expanded h2 {
  text-align: left;
  display: block;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-weight: 600;
  color: #fc6867;
  font-size: 16px;
  line-height: 1.2;
  padding-top: 5px;
  padding-right: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.gridArticle.expanded h2 {
  color: #a4a4a4;
}


.gridArticle.expanded .articleImage {
  justify-content: flex-start;
  width: 100%;
  background-image: url(https://cdn.vox-cdn.com/thumbor/uFgd8HtGxhl3NSKKQUBNX8hrjgs=/0x146:2040x1214/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/13151871/lumixs_vladsavov.jpg);
}

.gridArticle.expanded p {
  display: block;
  color: black;
}

.gridArticle.expanded .datePublished {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-size: 16px;
  color: #fc6867;
  margin-top: 0;
}

.footer {
  background-color: white;
  height: 50px;
  padding: 40px;
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.footerText {
  text-align: center;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-size: 16px;
  color: grey;
  padding-bottom: 10px;
  height: 100%;
}

.footerLogos img {
  width: 40px;
  padding: 0px 3px;
}

@media screen and (max-width: 600px) {
  .pageContainer {
    width: 100%;
    margin: auto;
    margin-top: 10%;
  }

  .topSection {
    display: none;
  }

  .navbar {
    overflow: hidden;
    background-color: white;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    height: 100px;
    margin: 0px;
    background-color: #ffffff;
  }

  .navbar li {
    font-size: 12px;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 0.5px;
    float: right;
    display: block;
    text-align: center;
    padding-right: 25px;
    padding-left: 30px;
  }

  .headerImage img {
    width: 50%;
    display: inline;
   float: left;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 40px; */
    padding-top: 30px;
  }

  .gridArticle.big {
    grid-column: auto / span 6;
    grid-row: auto / span 2;
    display: static;
    background-color: white;
    width: 100%;
  }

  .gridArticle.small {
    grid-column: auto / span 6;
    grid-row: auto / span 1;
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    overflow: hidden;
  }

  .gridArticle.small:nth-child(n) {
    flex-flow: row nowrap;
    /* background-color: pink; */
  }

  .gridArticle.big.expanded, .gridArticle.small.expanded {
    grid-column: auto / span 6;
    grid-row: auto / span 4;
    display: flex;
    flex-flow: column nowrap;
  }

  .gridArticle.expanded .articleImageBox {
    width: 100%;
    height: 50%;
  }

  .gridArticle.expanded .articleTitle {
    width: 100%;
    heiht: 50%;
  }

}
