body {

}

.headerSection {
  background-color: pink;
}

.editorialSection {
}

.editorialContainer {
  display: flex;
  justify-content: space-around;
}

.editorialArticle {
  width: 25%;
  background-color: lightpink;
}

.sectionHeader {
  background-color: yellow;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 200px);
  grid-gap: 10px;
  grid-auto-flow: row dense;
  background-color: lightblue;
}

.gridArticle.big {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  background-color: lightgreen;
}

.gridArticle.small {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
  background-color: purple;

}

.footer {
  background-color: red;
}

.expanded {
  grid-column: 1 / span 6;
  grid-row: auto / span 2;
}
