.pageContainer {
  width: 1300px;
  margin: auto;
}

.headerSection {
  background-color: pink;
}

.editorialSection {
}

.editorialContainer {
  display: flex;
  justify-content: space-around;
}

.editorialArticle {
  width: 25%;
  background-color: lightpink;
}

.sectionHeader {
  background-color: yellow;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 200px);
  grid-gap: 10px;
  grid-auto-flow: row dense;
  background-color: lightblue;
}

.gridArticle.big {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  background-color: lightgreen;
  width: 100%;
  position: relative;
  text-align: center;
}

.gridArticle.big .articleTitle {
  position: absolute;
  bottom: 10px;
}

.gridArticle.small .articleImage {
  width: 50%;
  overflow: hidden;
}

.gridArticle.big .articleImage {
  overflow: hidden;
  /* object-fit: cover; */
  /* object-position: center; */
  height: 100%;
  width: 100%;
}

.gridArticle .articleImage {
background-image: url("");
background-size: cover;
background-position: center;
width: 100%;
height: 100%
}

.gridArticle.small {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
  background-color: purple;
  display: flex;
  flex-flow: row nowrap;
}

.gridArticle.small .articleImage {
  width: 50%;
}

.gridArticle.small .articleTitle {
  width: 50%;
}

.footer {
  background-color: red;
}

.gridArticle.expanded {
  grid-column: 1 / span 6;
  grid-row: auto / span 2;
}

.gridArticle.expanded img {
  width: calc(33.33% - 5px);
}
